@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-600 dark:text-gray-400 bg-white dark:bg-neutral-900 transition-colors duration-300;
}
.m-text-overflow {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}
.m-color-transition {
  @apply transition-colors duration-300;
}
.m-input {
  @apply bg-gray-300/50 border-none outline-none focus:bg-gray-300/70 rounded-md px-4 py-2 dark:text-gray-800 dark:placeholder:text-gray-700;
}
.m-link {
  @apply hover:text-green-500 m-color-transition cursor-pointer;
}
.m-button {
  @apply transition-colors duration-300 bg-green-200 rounded-md outline-none px-4 py-2 dark:bg-neutral-950/60 hover:bg-green-300 dark:hover:bg-neutral-950/90;
}
::-webkit-scrollbar {
  cursor: pointer;
  width: 2px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  cursor: pointer;
  background: #777777;
}
/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #248f32;
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #17af1f;
}
